<h1>Autenticazione amministratore</h1>

<%= form_for(:session, url: administrator_log_in_path) do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    
    <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Ricordami</span>
    <% end %>

    <%= f.submit "Log in", class: "btn btn-primary" %>

<% end %>
