<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login - Campetto</title>
    <%= stylesheet_link_tag 'administrator_login', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
</head>
<body>
    <div class="admin-login-container">
        <h1>Registrati come nostro Parnter</h1>
        <%= form_for(@partner, html: { class: 'admin-login-form' }) do |f| %>
            <!--#render 'shared/error_messages'-->

            <%= f.label :name, "Nome:*" %>
            <%= f.text_field :name, class: 'form-control' %>

            <%= f.label :surname, "Cognome:*" %>
            <%= f.text_field :surname, class: 'form-control' %>

            <%= f.label :gender, "Genere:" %>
            <%= f.select :gender, options_for_select([['Maschio', 'm'], ['Femmina', 'f'], ['Non specificato', 'u']], selected: 'u'), class: 'form-control' %>

            <%= f.label :birthdate, "Data di nascita:*" %>
            <%= f.date_select :birthdate, start_year: Date.today.year - 100, end_year: Date.today.year - 18, default: Date.new(2000, 1, 1), order: [:day, :month, :year], class: 'form-control'%>

            <%= f.label :mobile, "Cellulare:*" %>
            <%= f.telephone_field :mobile, pattern: "\\+?[0-9]{10,15}", required: true, class: 'form-control' %>

            <%= f.label :email, "Email:*" %>
            <%= f.email_field :email, required: true, class: 'form-control' %>

            <%= f.label :password, "Password:*" %>
            <%= f.password_field :password, required: true, class: 'form-control' %>

            <%= f.label :password_confirmation, "Conferma Password:*" %>
            <%= f.password_field :password_confirmation, required: true, class: 'form-control' %>

            <%= f.submit "Registrati", class: "btn btn-primary" %>
        <% end %>
    </div>
</body>
</html>