<h2>Modifica il tuo profilo</h2>

<%= form_with(model: @user, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, class: 'form-control' %>
  </div>

  <!-- Aggiungi altri campi se necessario -->
  <div class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :cognome %>
    <%= form.text_field :cognome, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password, 'Nuova Password (lascia vuoto se non vuoi cambiarla)' %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation, 'Conferma Nuova Password' %>
    <%= form.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <%= form.submit 'Aggiorna Profilo', class: 'btn btn-primary mt-3' %>
<% end %>

