<!DOCTYPE html>
<html>
    <head>
        <title>Campetto.it</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
    </head>
    <body>
        <div id="form__changepassword" class="form__password visible">
            <div class="form__box login">
                <div class="form__content">
                    <h2>Reimposta Password</h2>

                    <%= form_with(url: update_password_path(token: @user.reset_password_token), method: :patch,id: "changePasswordForm", onsubmit: "return validatePassw()") do |f| %>
                        <div class="input__field">
                            <%= f.password_field :password, id: "signup_password", onkeyup: "checkPassword()", required: true, class: "form-control" %>
                            <label for="signup_password">Nuova password</label>
                            <i id="occhioReg" class="fa-solid fa-eye mostra__pass" onclick="mostraPassword()"></i>

                            <!-- Lista dei requisiti della password -->
                            <div class="pass__checklist">
                                <h4 class="titolo_check">La password deve:</h4>
                                <ul class="checklist">
                                    <li id="lunghezza" class="condizione">Essere lunga almeno 8 caratteri.</li>
                                    <li id="maiuscole" class="condizione">Avere almeno una maiuscola.</li>
                                    <li id="numeri" class="condizione">Avere almeno un numero.</li>
                                    <li id="speciale" class="condizione">Avere almeno un carattere speciale.</li>
                                </ul>
                            </div>
                        </div>           
                                
                        <div class="input__field">
                            <%= f.password_field :password_confirmation, id: "conferma_password", required: true, class: "form-control" %>
                            <label for="conferma_password">Conferma nuova password</label>
                            <i id="occhioConf" class="fa-solid fa-eye mostra__pass" onclick="mostraPasswordConf()"></i>
                        </div>

                        <%= f.submit "Aggiorna Password", class: "buttonCerca" %>
                    <% end %>
                </div>
            </div>
        </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const changePasswordLink = document.getElementById('changePassw');
            const formChangePassword = document.getElementById('form__changepassword');

            document.getElementById("occhioReg").onclick = function() {
                mostraPassword();
            };

            document.getElementById("occhioConf").onclick = function() {
                mostraPasswordConf();
            };

            document.getElementById("changePasswordForm").onsubmit = function() {
                return validatePassw();
            };

            document.getElementById("signup_password").addEventListener("input", checkPassword);
        });

        function validatePassw() {
            console.log("Validazione in corso...");
            var password = document.getElementById("signup_password").value;
            var confpassword = document.getElementById("conferma_password").value;
            var passwordRegex = /^(?=.*\d)(?=.*[A-Z])(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$/; 

            
            if (!passwordRegex.test(password)) {
                alert("La password deve essere lunga almeno 8 caratteri, contenere almeno una maiuscola, un numero e un carattere speciale.");
                return false; 
            }

            
            if (password !== confpassword) {
                alert("Le nuove password non corrispondono.");
                return false;
            }

            return true;
        }

        function checkPassword() {
            var password = document.getElementById("signup_password").value;
            var lunghezza = document.getElementById("lunghezza");
            var maiuscole = document.getElementById("maiuscole");
            var numeri = document.getElementById("numeri");
            var speciale = document.getElementById("speciale");


            if (password.length >= 8) {
                lunghezza.classList.add("checked");
            } else {
                lunghezza.classList.remove("checked");
            }

            if (/[A-Z]/.test(password)) {
                maiuscole.classList.add("checked");
            } else {
                maiuscole.classList.remove("checked");
            }

            if (/\d/.test(password)) {
                numeri.classList.add("checked");
            } else {
                numeri.classList.remove("checked");
            }

            if (/[!@#$%^&*(),.?":{}|<>]/.test(password)) {
                speciale.classList.add("checked");
            } else {
                speciale.classList.remove("checked");
            }
        }

        function mostraPassword() {
            var passwordInput = document.getElementById("signup_password");
            var eyeIcon = document.getElementById("occhioReg");
            
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove("fa-eye");
                eyeIcon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                eyeIcon.classList.remove("fa-eye-slash");
                eyeIcon.classList.add("fa-eye");
            }
        }

        function mostraPasswordConf() {
            var passwordInput = document.getElementById("conferma_password");
            var eyeIcon = document.getElementById("occhioConf");
            
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove("fa-eye");
                eyeIcon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                eyeIcon.classList.remove("fa-eye-slash");
                eyeIcon.classList.add("fa-eye");
            }
        }
    </script>
    </body>
</html>