<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Campetto</title>
	</head>
	<body>
    <section class="mainForm">
        <%= link_to "Campetto.it", root_path, class: "site-name" %>
    <!-- FORM LOGIN -->
        <div id="form__login" class="form__login">
            <div class="form__box login">
                <div class="form__content">
                    <h2>ACCEDI</h2>
                    <%= form_with(url: login_path, method: :post, id: "id_form_login", local: true, scope: :session) do |f| %>
                        <div class="input__field">
                            <%= f.email_field :email_login, id: "email_login", required: true, class: "form-control" %>
                            <label for="email_login">Email</label>
                        </div>
                        
                        <div class="input__field">
                            <%= f.password_field :password_login, id: "password_login", required: true, class: "form-control" %>
                            <label for="password_login">Password</label>
                            <i id="occhioLogin" class="fa-solid fa-eye mostra__pass" onclick="mostraPasswordLogin()"></i>
                        </div>
                        <% if flash[:notice] %>
                            <div class="alert alert-success">
                                <%= flash[:notice] %>
                            </div>
                        <% end %>
                        <% if flash[:alert] %>
                            <div class="alert alert-danger alert-small">
                                <%= flash[:alert] %>
                            </div>
                        <% end %>

                        <%= f.submit "Login", class: "buttonCerca", id: "login-btn" %>

                    <% end %>

                    <div class="social-auth">
                        <p>Oppure :</p>
                        <%= link_to image_tag('GoogleSignIn.jpg', alt: 'Accedi con Google', class: 'buttonGoogle'), '/auth/google_oauth2', method: :post, data: { confirm: 'Sei sicuro di voler accedere con Google?' } %>
                    </div>

                    <div class="bottom__link"> 
                        <button class="buttonlogin" id="toForgotPass">Password dimenticata?</button>
                        <br>
                        <br>
                        Non hai un'account?
                        <button class="buttonlogin" id="toSignup">Iscriviti</button>
                    </div>
                    <div id="error_msg_login" style="color: red;"></div> <!-- MODIFICARE LO STILE -->
                </div>
            </div>
        </div>

    <!-- FORM SIGNUP -->
        <div id="form__reg" class="form__reg">
            <div class="form__box">
                <div class="form__content">
                    <h2>REGISTRATI</h2>
                    <%= form_with(model: User.new, url: users_path, method: :post, local: true, id: "id_form_signup", onsubmit: "return validateReg()") do |f| %>
                        <!-- Campo Email -->
                        <div class="input__field">
                            <%= f.email_field :email, id: "signup_email", required: true, class: "form-control" %>
                            <label for="signup_email">Email</label>
                        </div>

                        <!-- Campo Password -->
                        <div class="input__field">
                            <%= f.password_field :password, id: "signup_password", onkeyup: "checkPassword()", required: true, class: "form-control" %>
                            <label for="signup_password">Crea password</label>
                            <i id="occhioReg" class="fa-solid fa-eye mostra__pass" onclick="mostraPassword()"></i>

                            <!-- Lista dei requisiti della password -->
                            <div class="pass__checklist">
                                <h4 class="titolo_check">La password deve:</h4>
                                <ul class="checklist">
                                    <li id="lunghezza" class="condizione">Essere lunga almeno 8 caratteri.</li>
                                    <li id="maiuscole" class="condizione">Avere almeno una maiuscola.</li>
                                    <li id="numeri" class="condizione">Avere almeno un numero.</li>
                                    <li id="speciale" class="condizione">Avere almeno un carattere speciale.</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Campo Conferma Password -->
    
                        <div class="input__field">
                            <%= f.password_field :password_confirmation, id: "conferma_password", required: true, class: "form-control" %>
                            <label for="conferma_password">Conferma password</label>
                            <i id="occhioConf" class="fa-solid fa-eye mostra__pass" onclick="mostraPasswordConf()"></i>
                        </div>

                        <!-- Termini e condizioni (HTML puro) -->
                        <div class="policy__text">
                            <input type="checkbox" id="policy" required />
                            <label for="policy">
                                Accetto
                                <a href="#">Termini e condizioni</a>
                            </label>
                        </div>

                        <%= f.submit "Registrazione", class: "buttonCerca", name: "signup-btn" %>

                        <% if flash[:alert] %>
                            <div class="alert alert-danger alert-small">
                                <%= flash[:alert] %>
                            </div>
                        <% end %>
                    <% end %>

                    <div class="social-auth">
                        <p>Oppure :</p>
                        <%= link_to image_tag('GoogleSignIn.jpg', alt: 'Accedi con Google', class: 'buttonGoogle'), '/auth/google_oauth2', method: :post, data: { confirm: 'Sei sicuro di voler accedere con Google?' } %>
                    </div>
                    <div class="bottom__link">
                        Hai già un'account?
                        <button class="buttonlogin"id="toLogin">Accedi</button>
                    </div>
                    <div id="error_msg_signup" style="color: red;"></div> <!-- MODIFICARE LO STILE -->
                </div>
            </div>
        </div>

    <!-- RECUPERO PASSWORD -->

        <div id="form__password" class="form__password">
            <div class="form__box login">
                <div class="form__content">
                    <h2>Recupero password</h2>
                    <%= form_with(url: request_password_reset_path, method: :post, id: "id_form_reset", local: true) do |f| %>
                        <div class="input__field">
                            <%= f.email_field :email_reset, id: "email_reset", required: true, class: "form-control" %>
                            <label for="email_reset">Email</label>
                        </div>

                        <div class="bottom__linkf"> 
                            Ti invieremo un'email per il reset della password.
                        </div>
                        
                        <%= f.submit "Invia Email", class: "buttonCerca", id: "toReset" %>
                    <% end %>
                    <div id="error_msg_reset" style="color: red;"></div>
                </div>
            </div>
        </div>
    </section>
    </body>
</html>