<div class="reviews-admin-list">
  <% if @reviews&.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Titolo</th>
          <th>Recensione</th>
          <th>Utente</th>
          <th>Data</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <% @reviews.each do |review| %>
          <tr>
            <td><%= review.titolo %></td>
            <td><%= review.testo %></td>
            <td><%= review.user.email %></td>
            <td><%= review.created_at.strftime("%d/%m/%Y") %></td>
            <td>
              <%= link_to 'Elimina', admin_review_path(review), method: :delete, data: { confirm: 'Sei sicuro?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Nessuna recensione trovata.</p>
  <% end %>
</div>

