<%= provide(:title, "Dashboard amministrativa") %>
<%= provide(:role, "Administrator") %>


<div style="" id="sportcenter-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione centri sportivi
    </h2>
    
</div>

<div style="display: none" id="playground-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione campi sportivi
    </h2>
</div>

<div style="display: none" id="slot-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione slot prenotazioni
    </h2>
</div>

<div style="display: none" id="booking-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione prenotazioni
    </h2>
</div>

<div style="display:none" id="review-manager" class="work-area">
  <h2 class="work-area-heading">
    <i class="fas fa-cogs"></i> Gestione recensioni
  </h2>
  <div class="reviews-list">
    <% if @reviews.any? %>
      <% @reviews.each do |review| %>
        <div class="review-entry">
          <p>Recensione di: <%= review.user.email %></p>
          <p>Testo: <%= review.testo %></p>
          <p>Data: <%= review.created_at.strftime("%d/%m/%Y") %></p>
          <%= button_to 'Elimina', review_path(review), method: :delete, class: 'btn btn-danger', data: { confirm: 'Sei sicuro di voler eliminare questa recensione?' } %>
        </div>
      <% end %>
    <% else %>
      <p>Nessuna recensione disponibile.</p>
    <% end %>
  </div>
</div>


<div style="display: none" id="report-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione segnalazioni
    </h2>

    <div class="cardreport-container">
        <% @reports.select { |report| report.status == 'pending' }.each do |report| %>
            <div class="cardreport">
                <h3>ID: <%= report.id %></h3>
                <p>Reporter: <%= report.reporter.class.name %>: <%= report.reporter.id %></p>
                <p>Email: <%= report.reporter.email %></p>
                <p>Type: <%= report.reportable_type %> | Status: <%= report.status %></p>
                <p>Details: <%= report.details %></p>
                <div class="actions">
                    <%= button_to 'Accetta', accept_report_path(report), method: :patch, class: 'btn btn-success' %>
                    <%= button_to 'Rifiuta', reject_report_path(report), method: :patch, class: 'btn btn-danger' %>
                </div>
            </div>
        <% end %>
    </div>
</div>


<div style="display: none" id="user-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione utenti
    </h2>
    
    <%= render 'admin/users/index' %>
</div>

<div style="display: none" id="partner-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione partner
    </h2>
</div>

<div style="display: none" id="administrator-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione amministratori
    </h2>
    <div class="work-area-command">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#administrator-manager-new">+</button>
    </div>
    <div class = "work-area-show">
        <!-- Mostra gli amministratori -->
    </div>
</div>
