<% provide(:title, 'Administrators sign up') %>
<h1>Sign up</h1>
        <div id="form__reg" class="form__reg visible">
            <div class="form__box">
                <div class="form__content">
                    <h2>REGISTRATI</h2>
                    <%= form_with(model: Administrator.new, method: :post, local: true, id: "id_form_signup", onsubmit: "return validateReg()") do |f| %>
                        <!--Nome-->
                        <div class="input__field">
                            <%= f.text_field :name, id: "signup_name", required: true, class: "form-control" %>
                            <label for="signup_name">Nome</label>
                        </div>
                        <!--Cognome-->
                        <div class="input__field">
                            <%= f.text_field :surname, id: "signup_surname", required: true, class: "form-control" %>
                            <label for="signup_surname">Cognome</label>
                        </div>
                        <!-- Campo Email -->
                        <div class="input__field">
                            <%= f.email_field :email, id: "signup_email", required: true, class: "form-control" %>
                            <label for="signup_email">Email</label>
                        </div>

                        <!-- Campo Password -->
                        <div class="input__field">
                            <%= f.password_field :password, id: "signup_password", onkeyup: "checkPassword()", required: true, class: "form-control" %>
                            <label for="signup_password">Crea password</label>
                            <i id="occhioReg" class="fa-solid fa-eye mostra__pass" onclick="mostraPassword()"></i>

                            <!-- Lista dei requisiti della password -->
                            <div class="pass__checklist">
                                <h4 class="titolo_check">La password deve:</h4>
                                <ul class="checklist">
                                    <li id="lunghezza" class="condizione">Essere lunga almeno 8 caratteri.</li>
                                    <li id="maiuscole" class="condizione">Avere almeno una maiuscola.</li>
                                    <li id="numeri" class="condizione">Avere almeno un numero.</li>
                                    <li id="speciale" class="condizione">Avere almeno un carattere speciale.</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Campo Conferma Password -->
                        <div class="input__field">
                            <%= f.password_field :password_confirmation, id: "conferma_password", onkeyup: "checkPassword()", required: true, class: "form-control" %>
                            <label for="conferma_password">Conferma password</label>
                            <i id="occhioConf" class="fa-solid fa-eye mostra__pass" onclick="mostraPasswordConf()"></i>
                        </div>

                        <!-- Pulsante Registrati -->
                        <%= f.submit "Create new administrator", class: "buttonCerca" %>
                    <% end %>
                </div>
            </div>
        </div>