<h1>Crea un Nuovo Campo Sportivo</h1>

<%= form_with model: @field, local: true do |form| %>
  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field.errors.count, "errore") %> trovato:</h2>
      <ul>
        <% @field.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, required: true %>
  </div>

  <div class="field">
    <%= form.label :descrizione %>
    <%= form.text_area :descrizione, required: true %>
  </div>

  <div class="field">
    <%= form.label :sport %>
    <%= form.select :sport, options_for_select(["Calcio","Calcetto","Calcio a 7","Calcio a 8","Calcio-Tennis", "Basket", "Tennis", "Pallavolo", "Padel", "Rugby"], @field.sport), { prompt: 'Sport' }, required: true %>
  </div>

  <div class="field">
    <%= form.label :prezzo %>
    <%= form.number_field :prezzo, required: true %>
  </div>

  <div class="field">
    <%= form.label :latitudine %>
    <%= form.text_field :latitudine, required: true %>
  </div>

  <div class="field">
    <%= form.label :longitudine %>
    <%= form.text_field :longitudine, required: true %>
  </div>

  <div class="field">
    <%= form.label :image, "Immagine del campo" %>
    <%= form.file_field :image, required: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Crea Campo' %>
  </div>
<% end %>

<%= link_to 'Torna alla Lista', fields_path %>

