<h1><%= @field.nome %></h1>
<p><%= @field.descrizione %></p>
<p><strong>Sport:</strong> <%= @field.sport %></p>
<p><strong>Prezzo:</strong> €<%= @field.prezzo %></p>
<p><strong>Posizione:</strong> Latitudine: <%= @field.latitudine %>, Longitudine: <%= @field.longitudine %></p>

<%= link_to 'Modifica', edit_field_path(@field) %> |
<%= link_to 'Torna alla Lista', fields_path %>

