<!DOCTYPE html>
<html lang="it">
<head>
    
    <title><%=yield(:title)%> | Campetto.it</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

</head>
<body>
    <% @layout_variable_username = "TEST 123" %>

    <%= render 'layouts/header_dashboard.html.erb' %>
    
    <main id="-tp-main">
            <div id="command-bar">
            <button class="btn btn-primary dashboard-control" data-target="#sportcenter-manager" title="Gestione Centri Sportivi">
                <i class="fas fa-cogs"></i>
            </button>
            <button class="btn btn-primary dashboard-control" data-target="#booking-manager" title="Gestione Prenotazioni">
                <i class="fas fa-calendar-alt"></i>
            </button>
            <button class="btn btn-primary dashboard-control" data-target="#playground-manager" title="Gestione Campi">
                <i class="fas fa-futbol"></i>
            </button>
            <button class="btn btn-primary dashboard-control" data-target="#review-manager" title="Gestione Recensioni">
                <i class="fas fa-star"></i>
            </button>
            <button class="btn btn-primary dashboard-control" data-target="#report-manager" title="Gestione Segnalazioni">
                <i class="fas fa-file-alt"></i>
            </button>
            <button class="btn btn-primary dashboard-control" data-target="#users-manager" title="Gestione Utenti">
                <i class="fas fa-users"></i>
            </button>    
        </div>

        <%= yield %>
    </main>

    <%= render 'layouts/footer_dashboard.html.erb' %>

</body>
</html>
